<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wonhigh.bs.admin.sso.dal.database.SsoAdminMapper" >
   <resultMap id="BaseResultMap" type="com.wonhigh.bs.sso.admin.common.vo.SsoAdminDTO" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />	
    <result column="sure_name" property="sureName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />	
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />	
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="admin_type" property="adminType" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />	
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	<result column="phone" property="phone" jdbcType="VARCHAR" />
	<result column="email" property="email" jdbcType="VARCHAR" />
  </resultMap>
    
  <sql id="Base_Column_List" >
	  id,login_name,sure_name,password,description,state,role_id,
	create_user,update_user,create_time,update_time,admin_type,create_user_id,email,phone
  </sql>
     
  <sql id="condition" >
    <if test="null!=params" >
      <if test="null!=params.queryCondition and ''!=params.queryCondition" >
        ${params.queryCondition}
      </if>
      <if test="null!=params.loginName and ''!=params.loginName" >
        and login_name = #{params.loginName,jdbcType=VARCHAR}
      </if>
      <if test="null!=params.id and ''!=params.id" >
        and id = #{params.id}
      </if>
      <if test="null!=params.adminType and ''!=params.adminType" >
        and admin_type = #{params.adminType}
      </if>
      <if test="null!=params.createUserId and ''!=params.createUserId" >
        and create_user_id = #{params.createUserId}
      </if>
      <if test="null!=params.phone and ''!=params.phone " >
        and phone  = #{params.phone }
      </if>
      <if test="null!=params.email and ''!=params.email" >
        and email = #{params.email}
      </if>
      <if test="null!=params.roleId and ''!=params.roleId" >
        and role_id = #{params.roleId}
      </if>
      
      <if test="null!=params.diffName and ''!=params.diffName" >
        and login_name = #{params.diffName} and id!=#{params.diffId}
      </if>
      <if test="null!=params.excludeId and ''!=params.excludeId" >
        and id != #{params.excludeId}
      </if>
      <if test="null!=params.adminName and ''!=params.adminName" >
        and (login_name LIKE  CONCAT('%','${params.adminName}','%' ) OR sure_name LIKE  CONCAT('%','${params.adminName}','%' ) )
      </if>
      
    </if>
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="int" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from sso_admin where id = #{id,jdbcType=INTEGER}
  </select>
  	
  <select id="selectCount" resultType="java.lang.Integer" >
    SELECT COUNT(1) as s FROM sso_admin WHERE 1=1 
    <include refid="condition" />
  </select>  
  
  <select id="selectByPage" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
    ,(select role_name from sso_admin_role where id=sso.role_id) as roleName
     FROM sso_admin sso WHERE 1=1 
    <include refid="condition" />
    <if test="orderByField != null and ''!=orderByField" >
      ORDER BY ${orderByField}
      <if test="orderBy != null and ''!=orderBy" >
        ${orderBy}
      </if>
    </if>
     LIMIT #{page.startRowNum} ,#{page.pageSize} 
  </select>   	
  
  <insert id="insertSelective" parameterType="com.wonhigh.bs.sso.admin.common.vo.SsoAdminDTO">
		INSERT INTO sso_admin(
			<if test="null!=loginName and ''!=loginName" >
				login_name,
			</if>
			<if test="null!=sureName and ''!=sureName" >
				sure_name,
			</if>
			<if test="null!=password and ''!=password" >
				password,
			</if>
			<if test="null!=description and ''!=description" >
				description,
			</if>
			<if test="null!=state and ''!=state" >
				state,
			</if>
			<if test="null!=roleId and ''!=roleId" >
				role_id,
			</if>
			<if test="null!=adminType and ''!=adminType">
				admin_type,
			</if>
			<if test="null!=createUserId and ''!=createUserId" >
				create_user_id,
			</if>
			<if test="null!=phone" >
				phone,
			</if>
			<if test="null!=email" >
				email,
			</if>
			<if test="null!=createUser and ''!=createUser">
				create_user,
			</if>
			create_time,update_time
		)VALUES(
			<trim>
				<if test="null!=loginName and ''!=loginName" >
					#{loginName},
				</if>
				<if test="null!=sureName and ''!=sureName" >
					#{sureName},
				</if>
				<if test="null!=password and ''!=password" >
					#{password},
				</if>
				<if test="null!=description and ''!=description" >
					#{description},
				</if>
				<if test="null!=state and ''!=state" >
					#{state},
				</if>
				<if test="null!=roleId and ''!=roleId" >
					#{roleId},
				</if>
				<if test="null!=adminType and ''!=adminType">
					#{adminType},
				</if>
				<if test="null!=createUserId and ''!=createUserId" >
					#{createUserId},
				</if>
				<if test="null!=phone" >
					#{phone},
				</if>
				<if test="null!=email" >
					#{email},
				</if>
				<if test="null!=createUser and ''!=createUser">
					#{createUser},
				</if>
				now(),now())
			</trim>			
	</insert> 
	
	<update id="updateByPrimaryKeySelective" parameterType="com.wonhigh.bs.sso.admin.common.vo.SsoAdminDTO">
		update sso_admin set
		<trim>
			<if test="null!=loginName and ''!=loginName" >
				login_name=#{loginName},
			</if>
			<if test="null!=sureName and ''!=sureName" >
				sure_name=#{sureName},
			</if>
			<if test="null!=password and ''!=password" >
				password=#{password},
			</if>
			<if test="null!=description " >
				description=#{description},
			</if>
			<if test="null!=state and ''!=state" >
				state=#{state},
			</if>
			<if test="null!=roleId and ''!=roleId" >
				role_id=#{roleId},
			</if>
			<if test="null!=phone " >
				phone=#{phone},
			</if>
			<if test="null!=email " >
				email=#{email},
			</if>
			<if test="null!=adminType">
				admin_type=#{adminType},
			</if>
			update_time=now()
		</trim>
		where id=#{id}
	</update>
	
	<delete id="deleteByPrimarayKeyForModel" parameterType="com.wonhigh.bs.sso.admin.common.vo.SsoAdminDTO">
		delete from sso_admin where id=#{id}	
	</delete>
  	  
  	<select id="selectByParams" resultMap="BaseResultMap" parameterType="map" >
	    SELECT 
	    <include refid="Base_Column_List" />
	     FROM sso_admin WHERE 1=1 
	    <include refid="condition" />
    </select>
</mapper>