@charset "utf-8";
body,div,ul,li,dl,dd,table,p,h1,form,legend,fieldset,input button,select,textarea,button{margin:0px;padding:0px;font-family:inherit;font-size:inherit; font:14px/1.5   "Lucida Grande","Lucida Sans Unicode","STHeiti","Helvetica","Arial","Verdana","微软雅黑","sans-serif";}
body{overflow-y:hidden;}
ul,li{list-style:none;}
.line10px{clear:both; display:block; height:10px; line-height:10px;}
.line20px{clear:both; display:block; height:20px; line-height:20px;}
a{color:#253E72;text-decoration:none;}
a:hover{color:#0091D4;text-decoration:none;}
input.inputstyle{width:380px; height:30px; padding:10px 10px 10px 10px; border:1px #ACACAC solid; border-radius:5px; background:#EBF5F7;}
input.inputuser{width:350px;padding-left:40px; background: #EBF5F7 url(../images/login/login_sprites.png) -465px 0 no-repeat;}
input.inputpassword{width:350px;padding-left:40px; background: #EBF5F7 url(../images/login/login_sprites.png) -465px -50px no-repeat;}
div.inputema{position:relative;}
div.inputema img{position:absolute; right: -1px; top: 2px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.loginbg { position:absolute; left: 0; top: 0; z-index: -1; width: 100%; height: 100%; background: url(../images/login/loginbg.jpg) center no-repeat; background-size: cover; }
.divLoginbox{width:980px; margin:0 auto; margin-top:10%; height:330px;}
.divLoginbox .logo{float:left; margin-top: 120px;margin-right: 30px;}
.divLoginbox .loginform{float:left; width:500px; padding:15px; height:250px; border-radius:5px;background: rgba(255,255,255,.3);}
.divLoginbox .loginform2{width:500px; height: 225px; background:#FFF; padding-top: 25px;}
.divLoginbox .loginform2 .forms{width:400px; margin:0 auto;}
.divLoginbox .loginbtn{float:left; margin-top:120px; margin-left: 30px; height:85px; width:143px; background:url(../images/login/login_sprites.png) -320px -85px no-repeat; cursor:pointer;}
.divLoginbox .loginbtn:hover{background:url(../images/login/login_sprites.png) -320px 0 no-repeat;}

.divfooter{width:100%; height:150px; background:rgba(119, 110, 110, 0.3); position:absolute; bottom:0px;}
.divfooter .foterbox{width:540px; margin:0 auto; top: 25px;height: 150px;position: relative;}
.divfooter .foterbox ul li{ float:left; width:79px; height:246px; text-align: center; margin-left:55px; opacity: .85; }
.divfooter .foterbox ul li.ico01{background:url(../images/login/login_sprites.png) no-repeat;}
.divfooter .foterbox ul li.ico02{background:url(../images/login/login_sprites.png) -80px 0 no-repeat;}
.divfooter .foterbox ul li.ico03{background:url(../images/login/login_sprites.png) -160px 0 no-repeat;}
.divfooter .foterbox ul li.ico04{background:url(../images/login/login_sprites.png) -240px 0 no-repeat;}
.divfooter .foterbox ul li a { display: block; padding-top: 90px; color:#fff; }
.divfooter .foterbox ul li:hover { opacity: 1; }
